.section-name{
  color: #414544;
  margin-right: 15px;
}
.goal-li{
  color: #414544;
  font-size: 20px;
}
.goal-header{
  display: flex;
  align-items: center;
}
.add-goal-form{
  float: right;
}
.goal-form{
  margin-left: 20px;
}
.habit-header{
  display: flex;
}
.habit-list{
  text-align: center;
  color: #414544;
  display: flex;
  flex-direction: column;
}
.habit-li{
  margin-right: 30px;
}
.calendar-header{
  display: flex;
}
.App{
  color: #414544;
}
.goal-list-item{
  /* display: list-item; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: baseline;
  
}
.goal-list{
  justify-content: left;
  align-items: center;
}
#goal-item-text{
  display:flex;
  align-items: center;
}
.habit-title{
  text-align: center;
  font-size: 24px;
  margin-bottom: 0px;
}
.journal-entry{
  padding: 15px;
  color: #414544;

}
.journal-entry-date{
  color: #414544;
}
.calendar-page-header{
  display: flex;
  flex-direction: row;
  color: #414544;
}
.journal-section-header{
  display: flex;
  flex-direction: row;
}

.todays-journal-entries{
  list-style-type: none;
  text-align: left;
}
#add-day{
  width: 90px;
  align-self: center;
  margin-top: 15px;
}
.habits-section{
  display: flex;
  flex-direction: row;
}
.journal-entry-text{
  font-size: 16px;
}
.habit-section{
  display: flex;
  flex-direction: column;
}
a{
  color: #414544;
  text-decoration: none;
}

/* const teal = '#64958f'
const coral = '#ffbb91' */