.section-name{
  color: #414544;
  margin-right: 15px;
}
.goal-li{
  color: #414544;
  /* list-style: none; */
  font-size: 18px;
}
.goal-list{
  text-align: left;
}
.goal-header{
  display: flex;
  align-items: baseline;
}
.habit-header{
  display: flex;
  align-items: baseline;
}
.habit-list{
  text-align: left;
  color: #414544;
  display: flex;
}
.habit-li{
  margin-right: 30px;
}
.calendar-header{
  display: flex;
}
.calendar-list{
  text-align: left;
  color: #414544;
}
.timeline-event{
  text-align: center;
}
.App{
  color: #414544;
}

